.loader {
  width: 90px;
  height: 90px;
  display: inline-block;
  position: relative;
}
.section {
  background-color: white;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 100%;
  text-align: center;
  animation: visible 3s linear;
  top: 0;
  left: 0;
  z-index: 200;
  position: fixed;
  visibility: hidden;

  .loader-circle {
    border-radius: 90px;
    border: 3px solid rgb(228, 228, 243);
    animation: spin 3s linear;

    &:after {
      content: "";
      position: absolute;
      top: -6px;
      left: -6px;
      bottom: -6px;
      right: -6px;
      border-top: 6px solid $primary;
      border-bottom: 6px solid $tertiary;
      border-radius: 90px;
    }
    &::before {
      content: "";
      position: absolute;
      top: 12px;
      left: 12px;
      bottom: 12px;
      right: 12px;
      border: 6px groove rgb(237, 233, 241);
      border-top-color: $secondary;
      border-bottom-color: rgb(156, 222, 226);
      border-radius: 90px;
      animation: spin 3s linear;
    }
  }
}

@keyframes visible {
  0% {
    visibility: visible;
    opacity: 0.8;
  }
  50% {
    opacity: 0.8;
  }
  75% {
    opacity: 0.8;
  }
  100% {
    visibility: hidden;
    opacity: 0;
  }
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
